# Entornos virtuales de Python (nombres comunes en el grupo)
.venv/
venv/
env/
ENV/
.ENTORNO/
**/.venv/
**/venv/
**/env/
**/ENV/
**/.ENTORNO/

# Archivos temporales de Python
__pycache__/
**/__pycache__/
*.py[cod]

# Reportes creados al usar la aplicación
reports/*
!reports/.gitkeep
